
*.cache

*.vsidx

.vs/service-bus-azure/v17/.wsuo

.vs/

*.sln

*.csproj

*.sem

*.props

azure-webservice-api/azure-webservice-api/obj/

*.user

azure-webservice-api/azure-web-service-quartz/azure-web-service-quartz/obj/Release/net8.0/

azure-webservice-api/azure-web-service-quartz/azure-web-service-quartz/obj/
